.wrap{
  width: 100vw;
  position: relative;
}
.fixed{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.fixed .slideshow-image{
  width: 100%;
  height: 100%;
  position: absolute;;
  background: no-repeat 50% 50%;
  background-size: cover;
  -webkit-animation-name: kenburns;
          animation-name: kenburns;
    /* -webkit-animation-name: bg;
          animation-name: bg; */
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
  /* -webkit-animation-duration: 20s;
          animation-duration: 20s; */
  -webkit-animation-delay:2s;
          animation-delay:2s;
  opacity: 1;
  filter: blur(0px);
  -webkit-filter: blur(0px); 
  -ms-filter: blur(0px);
  -moz-filter: blur(0px);
  -webkit-transform: scale(1);
          transform: scale(1);

}
/* 5张背景图  */
.slideshow-image:nth-child(1) {
  -webkit-animation-name: kenburns-1;
          animation-name: kenburns-1;
  z-index: 3;
}
.slideshow-image:nth-child(2) {
  -webkit-animation-name: kenburns-2;
          animation-name: kenburns-2;
  z-index: 2;
}
.slideshow-image:nth-child(3) {
  -webkit-animation-name: kenburns-3;
          animation-name: kenburns-3;
  z-index: 1;
}
.slideshow-image:nth-child(4) {
  -webkit-animation-name: kenburns-4;
          animation-name: kenburns-4;
  z-index: 0;
}
/* .slideshow-image:nth-child(5) {
  -webkit-animation-name: kenburns-5;
          animation-name: kenburns-5;
  z-index: 0;
} */
/* 2张背景图 */
/* .slideshow-image:nth-child(2) {
  -webkit-animation-name: bg-1;
          animation-name: bg-1;
  z-index: 1;
}
.slideshow-image:nth-child(1) {
  -webkit-animation-name: bg-2;
          animation-name: bg-2;
  z-index: 0;
}  */
@-webkit-keyframes bg-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  46% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px);  
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px);  
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  98.4375% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px);  
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes bg-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    opacity: 1;
  }
  40.4375% {
    opacity: 1;
  }
  46% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px);  
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px);  
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  98.4375% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px);  
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bg-2 {
  40.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  98.4375% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes bg-2 {
  40.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  98.4375% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/* 5张背景图的动画 */
/* @-webkit-keyframes kenburns-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  1.5625% {
    opacity: 1;
  }
  17.4375% {
    opacity: 1;
  }
  20.5625% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  98.4375% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes kenburns-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  1.5625% {
    opacity: 1;
  }
  17.4375% {
    opacity: 1;
  }
  20.5625% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  98.4375% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes kenburns-2 {
  17.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20.5625% {
    opacity: 1;
  }
  32.4375% {
    opacity: 1;
  }
  40.5625% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes kenburns-2 {
  17.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20.5625% {
    opacity: 1;
  }
  32.4375% {
    opacity: 1;
  }
  40.5625% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes kenburns-3 {
  32.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40.5625% {
    opacity: 1;
  }
  53.4375% {
    opacity: 1;
  }
  60.5625% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes kenburns-3 {
  32.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40.5625% {
    opacity: 1;
  }
  53.4375% {
    opacity: 1;
  }
  60.5625% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes kenburns-4 {
  53.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60.5625% {
    opacity: 1;
  }
  72.4375% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes kenburns-4 {
  53.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60.5625% {
    opacity: 1;
  }
  72.4375% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes kenburns-5 {
  72.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  98.4375% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes kenburns-5 {
  72.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  98.4375% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
} */
/* 四张背景图 */
@-webkit-keyframes kenburns-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  1.5625% {
    opacity: 1;
  }
  23.4375% {
    opacity: 1;
  }
  26.5625% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            filter: blur(3px);
            -webkit-filter: blur(3px);  /* chrome, opera */
            -ms-filter: blur(3px);
            -moz-filter: blur(3px);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
            filter: blur(0px);
            -webkit-filter: blur(0px);  /* chrome, opera */
            -ms-filter: blur(0px);
            -moz-filter: blur(0px);
  }
  98.4375% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kenburns-1 {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
      }
      1.5625% {
        opacity: 1;
      }
      23.4375% {
        opacity: 1;
      }
      26.5625% {
        opacity: 0;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
                filter: blur(3px);
                -webkit-filter: blur(3px);  /* chrome, opera */
                -ms-filter: blur(3px);
                -moz-filter: blur(3px);
      }
      100% {
        opacity: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
                filter: blur(0px);
                -webkit-filter: blur(0px);  /* chrome, opera */
                -ms-filter: blur(0px);
                -moz-filter: blur(0px);
      }
      98.4375% {
        opacity: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
      }
      100% {
        opacity: 1;
      }
}
@-webkit-keyframes kenburns-2 {
  23.4375% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  26.5625% {
    opacity: 1;
  }
  48.4375% {
    opacity: 1;
  }
  51.5625% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            filter: blur(3px);
                -webkit-filter: blur(3px);  /* chrome, opera */
                -ms-filter: blur(3px);
                -moz-filter: blur(3px);
            
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
                            filter: blur(0px);
                -webkit-filter: blur(0px);  /* chrome, opera */
                -ms-filter: blur(0px);
                -moz-filter: blur(0px);
  }
}
@keyframes kenburns-2 {
    23.4375% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
                filter: blur(0px);
                    -webkit-filter: blur(0px);  /* chrome, opera */
                    -ms-filter: blur(0px);
                    -moz-filter: blur(0px);
      }
      26.5625% {
        opacity: 1;
      }
      48.4375% {
        opacity: 1;
      }
      51.5625% {
        opacity: 0;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
                filter: blur(3px);
                    -webkit-filter: blur(3px);  /* chrome, opera */
                    -ms-filter: blur(3px);
                    -moz-filter: blur(3px);
                
      }
      100% {
        opacity: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
                                filter: blur(0px);
                    -webkit-filter: blur(0px);  /* chrome, opera */
                    -ms-filter: blur(0px);
                    -moz-filter: blur(0px);
      }
}
@-webkit-keyframes kenburns-3 {
  48.4375% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
            filter: blur(0px);
                    -webkit-filter: blur(0px);  /* chrome, opera */
                    -ms-filter: blur(0px);
                    -moz-filter: blur(0px);
  }
  51.5625% {
    opacity: 1;
  }
  73.4375% {
    opacity: 1;
  }
  76.5625% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            filter: blur(3px);
                    -webkit-filter: blur(3px);  /* chrome, opera */
                    -ms-filter: blur(3px);
                    -moz-filter: blur(3px);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
            filter: blur(0px);
                    -webkit-filter: blur(0px);  /* chrome, opera */
                    -ms-filter: blur(0px);
                    -moz-filter: blur(0px);
  }
}
@keyframes kenburns-3 {
    48.4375% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
                filter: blur(0px);
                    -webkit-filter: blur(0px);  /* chrome, opera */
                    -ms-filter: blur(0px);
                    -moz-filter: blur(0px);
      }
      51.5625% {
        opacity: 1;
      }
      73.4375% {
        opacity: 1;
      }
      76.5625% {
        opacity: 0;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
                filter: blur(3px);
                        -webkit-filter: blur(3px);  /* chrome, opera */
                        -ms-filter: blur(3px);
                        -moz-filter: blur(3px);
      }
      100% {
        opacity: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
                filter: blur(0px);
                        -webkit-filter: blur(0px);  /* chrome, opera */
                        -ms-filter: blur(0px);
                        -moz-filter: blur(0px);
      }
}
@-webkit-keyframes kenburns-4 {
  73.4375% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
            filter: blur(0px);
                        -webkit-filter: blur(0px);  /* chrome, opera */
                        -ms-filter: blur(0px);
                        -moz-filter: blur(0px);
  }
  76.5625% {
    opacity: 1;
  }
  98.4375% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            filter: blur(3px);
                        -webkit-filter: blur(3px);  /* chrome, opera */
                        -ms-filter: blur(3px);
                        -moz-filter: blur(3px);
  }
}
@keyframes kenburns-4 {
  73.4375% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
            filter: blur(0px);
                        -webkit-filter: blur(0px);  /* chrome, opera */
                        -ms-filter: blur(0px);
                        -moz-filter: blur(0px);
  }
  76.5625% {
    opacity: 1;
  }
  98.4375% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            filter: blur(3px);
                        -webkit-filter: blur(3px);  /* chrome, opera */
                        -ms-filter: blur(3px);
                        -moz-filter: blur(3px);
  }
}

.wrap .head{
  width: 100%;
  position: fixed;
  /*width: 1170px;
  left: 50%;
  margin: 0 0 0 -585px;*/
  /*height: 100vh;*/
  overflow: hidden;
  z-index: 1000;
  background: rgba(0,0,0,0.80);
}
.wrap .con{
  width: 100%;
}
.headCon{
  height: 88px;
  width: 100%;
  /*opacity: 0.5;
  background-image: linear-gradient(-180deg, #000000 0%, rgba(0,0,0,0.00) 100%);*/
}
/*首页导航条*/
.indexLogo{
  float: left;
  width: 184px;
  height: 48px;
  margin: 28px 9% 0 8%;
}
.navigation{
  float: left;
  /*margin:34px 0 0 151px;*/
  margin: 28px 0 0 0;
}
.navigation p{
  float: left;
  width: 140px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #F2F2F2;
  letter-spacing: 2.13px;
  text-align: center;
  cursor: pointer;
}
.navigation p:nth-of-type(1)~p{
  border-left: 1px solid #E5E7E9;
}
.navigation span:hover{
  font-size: 16px;
  color: #D53B49;
  letter-spacing: 1.14px;
  border-bottom: 1px solid #D53B49;
}
.wx{
  width: 344px;
  height: 200px;
  position: absolute;
  left: 164px;
  top: -23px;
  display: none;
}
.leftBottom:hover .wx{
  display: block;
}
.rightBackPiano:hover{
  background:  #B142BF;
}
.rightBackVoice:hover{
  background:  #E64E26;
}
.jumpLeft{
  width: 394px;
  position: absolute;
  opacity: 0;
  animation: move1 1.4s forwards 1.5s;
  -webkit-animation: move1 1.4s forwards 1.5s;
  z-index: 100;
}
@keyframes move1 {
  0%{
    opacity: 0;
    top: 396px;
  }
  100%{
    opacity: 1;
    top: 166px;
  }
}
.leftOne{
  width: 64px;
  height: 8px;
  background: #F8F8F8;
}
.leftTwo{
  font-size: 56px;
  color: #FDFDFD;
}
.leftThree{
  font-size: 24px;
  color: #FAFAFA;
  letter-spacing: 1px;
  margin: 24px 0 34px;
}
.leftBottom{
  cursor: pointer;
  position: relative;
  background-image: linear-gradient(-164deg, #FF4253 0%, #FF2445 100%);
  border-radius: 20px;
  width: 156px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #F4F4F4;
}
.alertDiv{
  position: absolute;
  left: 50%;
  width: 1170px;
  height: 400px;
  margin: 0 0 0 -585px;
}
/*.jumpRight{
  position: absolute;
  right: 216px;
  top: 140px;
}*/
/*.jumpRight div{
  padding: 13px 0 0 0;
  opacity: 0;
  z-index: 100;
}*/
.rightOneDiv{
  padding: 13px 0 0 0;
  position: absolute;
  top: 140px;
  right:0;
  z-index: 100;
  animation: move2 1s 2.4s forwards;
  -webkit-animations:move2 1s 2.4s forwards;
  opacity: 0;
}
.rightTwoDiv{
  z-index: 100;
  padding: 13px 0 0 0;
  position: absolute;
  top: 340px;
  right: 0;
  opacity: 0;
  margin: 0 -40px 0 0;
  animation: move3 1s 2.7s forwards;
  -webkit-animation:move3 1s 2.7s forwards;
}
@keyframes move3 {
  0%{
    top: 628px;
    opacity: 0;
  }
  100%{
    top: 366px;
    opacity: 1;
  }
}
@keyframes move2 {
  0%{
    top: 400px;
    opacity: 0;
  }
  100%{
    top:166px;
    opacity: 1;
  }
}
.rightTag{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 2.29px;
  width: 159px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.rightPiano{
  background: #7042BF;
}
.rightVoice{
  background-image: linear-gradient(-148deg, #E63B4A 0%, #E6203D 100%);
}
.rightBack{
  height: 114px;
  padding: 0 20px 0 28px;
  cursor: pointer;
}
.rightBack img{
  display: inline-block;
  margin: 40px 0 0 0;
}
.rightBackPiano{
  border-left:12px solid #B142BF;
}
.rightBackVoice{
  border-left:12px solid #E64E26;
}
.search {
  float: right;
  margin: 28px 8% 0 0;
  background: #EEEEEE;
  border: 1px solid #E1E1E1;
  border-radius: 16px;
  width: 168px;
  height: 32px;
  padding: 6px 0 10px 16px;
  position: relative;
}
.searchImg{
  width: 14px;
  height: 14px;
}
.searchCon{
  width: 111px;
  position: absolute;
  left: 40px;
  top: 5px;
  height: 23px;
  border: none;
  outline: none;
  background: #EEE;
  padding: 8px 0;
  cursor: pointer;
}

/*首页其他屏*/
.con{
  overflow: hidden;
}
.con>div{
  width: 100%;
  height: 1122px;
  float: left;
  position: relative;
}
.con>div .bgBig{
  width: 100%;
  height: 100%;
  position: absolute;
}
/*.con>div.conOne{
    background-size: 100% 100%;
    background-image: url('../images/1.png') ;
}
.con>div.conTwo{
    background-size: 100% 100%;
    background-image: url('../images/2.png') ;
}
.con>div.conThree{
    background-size: 100% 100%;
    background-image: url('../images/3.png') ;
}
.con>div.confour{
    background-size: contain;
    background-image: url('../images/4.png') ;
}*/
/*.con>div .bgBig{
  width: 100%;
  height: 100%;
  position: absolute;
}*/
.showCon{
  width: 1170px;
  position: absolute;
  left: 50%;
  top: 120px;
  margin: 0 0 0 -585px;
}
.leftPadding{
  padding: 0 0 0 15px;
}
.showConTop{
  overflow: hidden;
  padding: 0 0 0 19px;
}
.conNum{
  width: 178px;
  height: 108px;
  float: left;
}
.conDetail{
  float: left;
  margin: 0 0 0 38px;
}
.havRed{
  font-size: 56px;
  color: #FFFFFF;
  line-height: 56px;
  margin: 0 0 24px 0;
}
.havRed+p{
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 18px;
  overflow: hidden;
}
.havRed img{
  float: right;
  margin: 20px 0 0 -33px;
}
.showConBottom1{
  overflow: hidden;
  margin: 100px 0 0 0;
}
.showConBottom1 img{
  float: left;
  width: 391px;
  height: 773px;
}
.showConBottom1 .conRight1{
  margin: 146px 0 0 205px;
  float: left;
}
.showConBottom1 .conRight1 p{
  display: block;
  font-size: 32px;
  color: #FFFFFF;
  overflow: hidden;
  line-height: 68px;
  margin: 0 0 94px 0;
}
.showVideoP{
  overflow:hidden;
  padding: 0 0 0 14px;
}
.showVideoP p{
  font-size: 32px;
  color: #FFFFFF;
  overflow: hidden;
  line-height: 68px;
  float: left;
  margin-bottom: 42px;
}
.showVideoP p:nth-of-type(2n+1){
  margin-right:  113px;
}
.showConBottom1 .conRight1 p span:nth-of-type(1),.showVideoP p span:nth-of-type(1){
  float: left;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 28px;
  opacity: 0.8;
  background: #E62441;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  text-align: center;
  padding: 6px 0 0 0;
  margin: 0 41px 0 0;
}
.showConBottom1 .conRight1 p span.changFen,.showVideoP p span.changFen{
  float: left;
  line-height: 42px;
}
.showConBottom2{
  margin: 77px 0 0 0;
}
.showConBottom2 .conRight1{
  margin: 233px 180px 0 26px;
  padding: 0 0 0 5px;
}
.showConBottom2 .conRight1 p{
  margin: 0 0 86px 0;
}
.showConBottom4{
  margin: 76px 0 0 0;
}
.showConBottom4 .conRight1{
  margin-top: 124px;
}
.showConBottom4 .conRight1 p{
  margin: 0 0 56px 0;
}
.footerCon{
  width: 1170px;
  height: 292px;
  margin: 0 auto;
}
.con>div.footer{
  width: 100%;
  height: 292px;
  background: #181818;
  overflow: hidden;
}
.footerLeft{
  float: left;
  padding: 60px 0 0 115px;
}
.footerTab{
  margin: 0 0 75px 0;
}
.footerTab span{
  display: inline-block;
  margin: 0 142px 0 0;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 25px;
}
.footerTab span:hover{
  cursor: pointer;
  font-size: 18px;
  color: #E62441;
  letter-spacing: 0;
  line-height: 25px;
  border-bottom: 1px solid #E62441;
}
.footerRight{
  float: right;
  margin: 40px 16px 0 0;
}
.footerRight img{
  width: 130px;
  height: 130px;
}
.footerRight p{
  font-size: 18px;
  color: #FFFFFF;
  margin: 16px 0 0 0;
  text-align: center;
}
.footerWen{
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  line-height: 14px;
  margin: 0 0 16px 0;
}
.footerWSpan{
  display: inline-block;
  margin: 0 48px 0 0;
}
#my-video{
  margin: 0 auto;
}
/* 赛事章程 */
.fourPage{
  width: 100%;
}
/* 内容部分 */
.fourPageCon{
  width: 86%;
  margin: 0 auto 60px;
}
.fourWhereList{
  font-size: 16px;
  color: #444444;
  margin: 40px 0 27px 0;
}
/* 内容文章css */
.fourPageArticle h2{
  font-size: 24px;
  color: #222222;
  letter-spacing: 0.5px;
  font-weight: normal;
}
.fourPageArticle p{
  font-size: 17px;
  color: #222222;
  letter-spacing: 0.47px;
  line-height: 28px;
  margin: 23px 0 0 0;
  text-align: justify;
  text-indent: 2em;
}
/* 头部导航条 */
.fourPageHeader{
  width: 100%;
  background: rgba(0,0,0,0.80);
  border: 1px solid #222222;
  height: 88px;
}
.fourHeader{
  width: 86%;
  overflow: hidden;
  margin: 0 auto 0 ;
}
.fourHeaderImg{
  float: left;
  width: 192px;
  height: 56px;
  margin: 17px 0 0 0;
}
.fourHeaderCon{
  float: right;
  margin: 29px 0 0 0;
  overflow: hidden;
}
.fourHeaderCon p{
  width: 140px;
  height: 31px;
  text-align: center;
  line-height: 31px;
  float: left;
}
.fourHeaderCon p span{
  font-size: 16px;
  color: #F2F2F2;
  cursor: pointer;
}
.fourHeaderCon p span.fourCheck{
  font-size: 16px;
  color: #D53B49;
  border-bottom: 2px solid  #D53B49;
}
/* 统一的底部 */
.fourFooter{
  width: 100%;
  height: 292px;
  background: #181818;
}
.fourFooterCon{
  width: 86%;
  margin: 0 auto;
  overflow: hidden;
}
.fourFooterCon .footerLeft{
  padding: 80px 0 0 100px;
}

