.wrap{
  width: 100vw;
  position: relative;
}
.fixed{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.fixed .slideshow-image{
  width: 100%;
  height: 100%;
  position: absolute;;
  background: no-repeat 50% 50%;
  background-size: cover;
  -webkit-animation-name: kenburns;
          animation-name: kenburns;
    /* -webkit-animation-name: bg;
          animation-name: bg; */
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 32s;
          animation-duration: 32s;
  /* -webkit-animation-duration: 20s;
          animation-duration: 20s; */
  -webkit-animation-delay:2s;
          animation-delay:2s;
  opacity: 1;
  filter: blur(0px);
  -webkit-filter: blur(0px); 
  -ms-filter: blur(0px);
  -moz-filter: blur(0px);
  -webkit-transform: scale(1);
          transform: scale(1);

}
/* 5张背景图  */
.slideshow-image:nth-child(1) {
  -webkit-animation-name: kenburns-1;
          animation-name: kenburns-1;
  z-index: 3;
}
.slideshow-image:nth-child(2) {
  -webkit-animation-name: kenburns-2;
          animation-name: kenburns-2;
  z-index: 2;
}
.slideshow-image:nth-child(3) {
  -webkit-animation-name: kenburns-3;
          animation-name: kenburns-3;
  z-index: 1;
}
.slideshow-image:nth-child(4) {
  -webkit-animation-name: kenburns-4;
          animation-name: kenburns-4;
  z-index: 0;
}
/* .slideshow-image:nth-child(5) {
  -webkit-animation-name: kenburns-5;
          animation-name: kenburns-5;
  z-index: 0;
} */
/* 2张背景图 */
/* .slideshow-image:nth-child(2) {
  -webkit-animation-name: bg-1;
          animation-name: bg-1;
  z-index: 1;
}
.slideshow-image:nth-child(1) {
  -webkit-animation-name: bg-2;
          animation-name: bg-2;
  z-index: 0;
}  */
@-webkit-keyframes bg-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  46% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px);  
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px);  
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  98.4375% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px);  
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes bg-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    opacity: 1;
  }
  40.4375% {
    opacity: 1;
  }
  46% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px);  
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px);  
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  98.4375% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px);  
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes bg-2 {
  40.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  98.4375% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes bg-2 {
  40.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  98.4375% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
/* 5张背景图的动画 */
/* @-webkit-keyframes kenburns-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  1.5625% {
    opacity: 1;
  }
  17.4375% {
    opacity: 1;
  }
  20.5625% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  98.4375% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@keyframes kenburns-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  1.5625% {
    opacity: 1;
  }
  17.4375% {
    opacity: 1;
  }
  20.5625% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  98.4375% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes kenburns-2 {
  17.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20.5625% {
    opacity: 1;
  }
  32.4375% {
    opacity: 1;
  }
  40.5625% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes kenburns-2 {
  17.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  20.5625% {
    opacity: 1;
  }
  32.4375% {
    opacity: 1;
  }
  40.5625% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes kenburns-3 {
  32.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40.5625% {
    opacity: 1;
  }
  53.4375% {
    opacity: 1;
  }
  60.5625% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes kenburns-3 {
  32.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40.5625% {
    opacity: 1;
  }
  53.4375% {
    opacity: 1;
  }
  60.5625% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes kenburns-4 {
  53.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60.5625% {
    opacity: 1;
  }
  72.4375% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes kenburns-4 {
  53.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60.5625% {
    opacity: 1;
  }
  72.4375% {
    opacity: 1;
  }
  80% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    opacity: 0;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes kenburns-5 {
  72.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  98.4375% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes kenburns-5 {
  72.4375% {
    opacity: 1;
    filter: blur(0px);
    -webkit-filter: blur(0px); 
    -ms-filter: blur(0px);
    -moz-filter: blur(0px);
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    opacity: 1;
  }
  98.4375% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    filter: blur(3px);
    -webkit-filter: blur(3px); 
    -ms-filter: blur(3px);
    -moz-filter: blur(3px);
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
} */
/* 四张背景图 */
@-webkit-keyframes kenburns-1 {
  0% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  1.5625% {
    opacity: 1;
  }
  23.4375% {
    opacity: 1;
  }
  26.5625% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            filter: blur(3px);
            -webkit-filter: blur(3px);  /* chrome, opera */
            -ms-filter: blur(3px);
            -moz-filter: blur(3px);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
            filter: blur(0px);
            -webkit-filter: blur(0px);  /* chrome, opera */
            -ms-filter: blur(0px);
            -moz-filter: blur(0px);
  }
  98.4375% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 1;
  }
}

@keyframes kenburns-1 {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
      }
      1.5625% {
        opacity: 1;
      }
      23.4375% {
        opacity: 1;
      }
      26.5625% {
        opacity: 0;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
                filter: blur(3px);
                -webkit-filter: blur(3px);  /* chrome, opera */
                -ms-filter: blur(3px);
                -moz-filter: blur(3px);
      }
      100% {
        opacity: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
                filter: blur(0px);
                -webkit-filter: blur(0px);  /* chrome, opera */
                -ms-filter: blur(0px);
                -moz-filter: blur(0px);
      }
      98.4375% {
        opacity: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
      }
      100% {
        opacity: 1;
      }
}
@-webkit-keyframes kenburns-2 {
  23.4375% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  26.5625% {
    opacity: 1;
  }
  48.4375% {
    opacity: 1;
  }
  51.5625% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            filter: blur(3px);
                -webkit-filter: blur(3px);  /* chrome, opera */
                -ms-filter: blur(3px);
                -moz-filter: blur(3px);
            
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
                            filter: blur(0px);
                -webkit-filter: blur(0px);  /* chrome, opera */
                -ms-filter: blur(0px);
                -moz-filter: blur(0px);
  }
}
@keyframes kenburns-2 {
    23.4375% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
                filter: blur(0px);
                    -webkit-filter: blur(0px);  /* chrome, opera */
                    -ms-filter: blur(0px);
                    -moz-filter: blur(0px);
      }
      26.5625% {
        opacity: 1;
      }
      48.4375% {
        opacity: 1;
      }
      51.5625% {
        opacity: 0;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
                filter: blur(3px);
                    -webkit-filter: blur(3px);  /* chrome, opera */
                    -ms-filter: blur(3px);
                    -moz-filter: blur(3px);
                
      }
      100% {
        opacity: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
                                filter: blur(0px);
                    -webkit-filter: blur(0px);  /* chrome, opera */
                    -ms-filter: blur(0px);
                    -moz-filter: blur(0px);
      }
}
@-webkit-keyframes kenburns-3 {
  48.4375% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
            filter: blur(0px);
                    -webkit-filter: blur(0px);  /* chrome, opera */
                    -ms-filter: blur(0px);
                    -moz-filter: blur(0px);
  }
  51.5625% {
    opacity: 1;
  }
  73.4375% {
    opacity: 1;
  }
  76.5625% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            filter: blur(3px);
                    -webkit-filter: blur(3px);  /* chrome, opera */
                    -ms-filter: blur(3px);
                    -moz-filter: blur(3px);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1);
            transform: scale(1);
            filter: blur(0px);
                    -webkit-filter: blur(0px);  /* chrome, opera */
                    -ms-filter: blur(0px);
                    -moz-filter: blur(0px);
  }
}
@keyframes kenburns-3 {
    48.4375% {
        opacity: 1;
        -webkit-transform: scale(1);
                transform: scale(1);
                filter: blur(0px);
                    -webkit-filter: blur(0px);  /* chrome, opera */
                    -ms-filter: blur(0px);
                    -moz-filter: blur(0px);
      }
      51.5625% {
        opacity: 1;
      }
      73.4375% {
        opacity: 1;
      }
      76.5625% {
        opacity: 0;
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
                filter: blur(3px);
                        -webkit-filter: blur(3px);  /* chrome, opera */
                        -ms-filter: blur(3px);
                        -moz-filter: blur(3px);
      }
      100% {
        opacity: 0;
        -webkit-transform: scale(1);
                transform: scale(1);
                filter: blur(0px);
                        -webkit-filter: blur(0px);  /* chrome, opera */
                        -ms-filter: blur(0px);
                        -moz-filter: blur(0px);
      }
}
@-webkit-keyframes kenburns-4 {
  73.4375% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
            filter: blur(0px);
                        -webkit-filter: blur(0px);  /* chrome, opera */
                        -ms-filter: blur(0px);
                        -moz-filter: blur(0px);
  }
  76.5625% {
    opacity: 1;
  }
  98.4375% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            filter: blur(3px);
                        -webkit-filter: blur(3px);  /* chrome, opera */
                        -ms-filter: blur(3px);
                        -moz-filter: blur(3px);
  }
}
@keyframes kenburns-4 {
  73.4375% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
            filter: blur(0px);
                        -webkit-filter: blur(0px);  /* chrome, opera */
                        -ms-filter: blur(0px);
                        -moz-filter: blur(0px);
  }
  76.5625% {
    opacity: 1;
  }
  98.4375% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
            filter: blur(3px);
                        -webkit-filter: blur(3px);  /* chrome, opera */
                        -ms-filter: blur(3px);
                        -moz-filter: blur(3px);
  }
}

.wrap .head{
  width: 100%;
  position: fixed;
  /*width: 1170px;
  left: 50%;
  margin: 0 0 0 -585px;*/
  /*height: 100vh;*/
  overflow: hidden;
  z-index: 1000;
  background: rgba(0,0,0,0.80);
}
.wrap .con{
  width: 100%;
}
.headCon{
  height: 66px;
  width: 84%;
  margin: 0 auto;
  /*opacity: 0.5;
  background-image: linear-gradient(-180deg, #000000 0%, rgba(0,0,0,0.00) 100%);*/
}
/*首页导航条*/
.indexLogo{
  float: left;
  width: 120px;
  height: 34px;
  margin: 17px 9% 0 0;
}
.navigation{
  float: left;
  /*margin:34px 0 0 151px;*/
  margin: 17px 0 0 0;
}
.navigation p{
  float: left;
  width: 140px;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: #F2F2F2;
  letter-spacing: 2.13px;
  text-align: center;
  cursor: pointer;
}
.navigation p:nth-of-type(1)~p{
  border-left: 1px solid #E5E7E9;
}
.navigation span:hover{
  font-size: 16px;
  color: #D53B49;
  letter-spacing: 1.14px;
  border-bottom: 1px solid #D53B49;
}
.wx{
  width: 344px;
  height: 200px;
  position: absolute;
  left: 164px;
  top: -23px;
  display: none;
}
.leftBottom:hover .wx{
  display: block;
}
.rightBackPiano:hover{
  background:  #B142BF;
}
.rightBackVoice:hover{
  background:  #E64E26;
}
.jumpLeft{
  width: 394px;
  position: absolute;
  opacity: 0;
  animation: move1 1.4s forwards 1.5s;
  -webkit-animation: move1 1.4s forwards 1.5s;
  z-index: 100;
}
@keyframes move1 {
  0%{
    opacity: 0;
    top: 396px;
  }
  100%{
    opacity: 1;
    top: 166px;
  }
}
.leftOne{
  width: 64px;
  height: 8px;
  background: #F8F8F8;
}
.leftTwo{
  font-size: 48px;
  color: #FDFDFD;
}
.leftThree{
  font-size: 24px;
  color: #FAFAFA;
  letter-spacing: 1px;
  margin: 24px 0 34px;
}
.leftBottom{
  cursor: pointer;
  position: relative;
  background-image: linear-gradient(-164deg, #FF4253 0%, #FF2445 100%);
  border-radius: 20px;
  width: 156px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 14px;
  color: #F4F4F4;
}
.alertDiv{
  position: absolute;
  left: 50%;
  width: 84%;
  height: 400px;
  margin: 0 0 0 -585px;
}
/*.jumpRight{
  position: absolute;
  right: 216px;
  top: 140px;
}*/
/*.jumpRight div{
  padding: 13px 0 0 0;
  opacity: 0;
  z-index: 100;
}*/
.rightOneDiv{
  padding: 13px 0 0 0;
  position: absolute;
  top: 140px;
  right:0;
  z-index: 100;
  animation: move2 1s 2.4s forwards;
  -webkit-animations:move2 1s 2.4s forwards;
  opacity: 0;
}
.rightTwoDiv{
  z-index: 100;
  padding: 13px 0 0 0;
  position: absolute;
  top: 340px;
  right: 0;
  opacity: 0;
  margin: 0 -40px 0 0;
  animation: move3 1s 2.7s forwards;
  -webkit-animation:move3 1s 2.7s forwards;
}
@keyframes move3 {
  0%{
    top: 628px;
    opacity: 0;
  }
  100%{
    top: 366px;
    opacity: 1;
  }
}
@keyframes move2 {
  0%{
    top: 400px;
    opacity: 0;
  }
  100%{
    top:166px;
    opacity: 1;
  }
}
.rightTag{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 32px;
  color: #FFFFFF;
  letter-spacing: 2.29px;
  width: 159px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.rightPiano{
  background: #7042BF;
}
.rightVoice{
  background-image: linear-gradient(-148deg, #E63B4A 0%, #E6203D 100%);
}
.rightBack{
  height: 114px;
  padding: 0 20px 0 28px;
  cursor: pointer;
}
.rightBack img{
  display: inline-block;
  margin: 40px 0 0 0;
}
.rightBackPiano{
  border-left:12px solid #B142BF;
}
.rightBackVoice{
  border-left:12px solid #E64E26;
}
.searchImg{
  width: 14px;
  height: 14px;
}
.searchCon{
  width: 91px;
  position: absolute;
  left: 40px;
  top: 5px;
  height: 20px;
  border: none;
  outline: none;
  background: #EEE;
  padding: 8px 0;
  cursor: pointer;
}

/*首页其他屏*/
.con{
  overflow: hidden;
}
.con>div{
  width: 100%;
  height: 1122px;
  float: left;
  position: relative;
}
.con>div .bgBig{
  width: 100%;
  height: 100%;
  position: absolute;
}
/*.con>div.conOne{
    background-size: 100% 100%;
    background-image: url('../images/1.png') ;
}
.con>div.conTwo{
    background-size: 100% 100%;
    background-image: url('../images/2.png') ;
}
.con>div.conThree{
    background-size: 100% 100%;
    background-image: url('../images/3.png') ;
}
.con>div.confour{
    background-size: contain;
    background-image: url('../images/4.png') ;
}*/
/*.con>div .bgBig{
  width: 100%;
  height: 100%;
  position: absolute;
}*/
.showCon{
  width: 1170px;
  position: absolute;
  left: 50%;
  top: 120px;
  margin: 0 0 0 -585px;
}
.leftPadding{
  padding: 0 0 0 15px;
}
.showConTop{
  overflow: hidden;
  padding: 0 0 0 19px;
}
.conNum{
  width: 178px;
  height: 108px;
  float: left;
}
.conDetail{
  float: left;
  margin: 0 0 0 38px;
}
.havRed{
  font-size: 56px;
  color: #FFFFFF;
  line-height: 56px;
  margin: 0 0 24px 0;
}
.havRed+p{
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 18px;
  overflow: hidden;
}
.havRed img{
  width: 220px;
  height: 40px;
  float: right;
  margin: -41px -30px 0 0;
}
.showConBottom1{
  overflow: hidden;
  margin: 100px 0 0 0;
}
.showConBottom1 img{
  float: left;
  width: 391px;
  height: 773px;
}
.showConBottom1 .conRight1{
  margin: 146px 0 0 205px;
  float: left;
}
.showConBottom1 .conRight1 p{
  display: block;
  font-size: 32px;
  color: #FFFFFF;
  overflow: hidden;
  line-height: 68px;
  margin: 0 0 94px 0;
}
.showVideoP{
  overflow:hidden;
  padding: 0 0 0 14px;
}
.showVideoP p{
  font-size: 32px;
  color: #FFFFFF;
  overflow: hidden;
  line-height: 68px;
  float: left;
  margin-bottom: 42px;
}
.showVideoP p:nth-of-type(2n+1){
  margin-right:  113px;
}
.showConBottom1 .conRight1 p span:nth-of-type(1),.showVideoP p span:nth-of-type(1){
  float: left;
  font-size: 24px;
  color: #FFFFFF;
  letter-spacing: 2px;
  line-height: 28px;
  opacity: 0.8;
  background: #E62441;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  text-align: center;
  padding: 6px 0 0 0;
  margin: 0 41px 0 0;
}
.showConBottom1 .conRight1 p span.changFen,.showVideoP p span.changFen{
  float: left;
  line-height: 42px;
}
.showConBottom2{
  margin: 77px 0 0 0;
}
.showConBottom2 .conRight1{
  margin: 233px 180px 0 26px;
  padding: 0 0 0 5px;
}
.showConBottom2 .conRight1 p{
  margin: 0 0 86px 0;
}
.showConBottom4{
  margin: 76px 0 0 0;
}
.showConBottom4 .conRight1{
  margin-top: 124px;
}
.showConBottom4 .conRight1 p{
  margin: 0 0 56px 0;
}
.footerCon{
  width: 1170px;
  height: 235px;
  margin: 0 auto;
}
.con>div.footer{
  width: 100%;
  height: 235px;
  background: #181818;
  overflow: hidden;
}
.footerLeft{
  float: left;
  padding: 50px 0 0 115px;
}
.footerTab{
  margin: 0 0 75px 0;
}
.footerTab span{
  display: inline-block;
  margin: 0 142px 0 0;
  font-size: 16px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 25px;
}
.footerTab span:hover{
  cursor: pointer;
  font-size: 18px;
  color: #E62441;
  letter-spacing: 0;
  line-height: 25px;
  border-bottom: 1px solid #E62441;
}
.footerRight{
  float: right;
  margin: 40px 16px 0 0;
}
.footerRight img{
  width: 68px;
  height: 68px;
}
.footerRight p{
  font-size: 12.81px;
  color: #FFFFFF;
  margin: 16px 0 0 0;
  text-align: center;
}
.footerWen{
  font-size: 13px;
  color: #666666;
  letter-spacing: 0;
  line-height: 14px;
  margin: 0 0 16px 0;
}
.footerWSpan{
  display: inline-block;
  margin: 0 10px 0 16px;
}
#my-video{
  margin: 0 auto;
}
/* 赛事章程 */
.fourPage{
  width: 100%;
}
/* 内容部分 */
.fourPageCon{
  width: 86%;
  margin: 100px auto 60px;
}
.fourWhereList{
  font-size: 16px;
  color: #444444;
  margin: 40px 0 27px 0;
}
/* 内容文章css */
.fourPageArticle h2{
  font-size: 24px;
  color: #222222;
  letter-spacing: 0.5px;
  font-weight: normal;
}
.fourPageArticle p{
  font-size: 17px;
  color: #222222;
  letter-spacing: 0.47px;
  line-height: 28px;
  margin: 23px 0 0 0;
  text-align: justify;
  text-indent: 2em;
}
/* 头部导航条 */
.fourPageHeader{
  width: 100%;
  background: rgba(0,0,0,0.80);
  border: 1px solid #222222;
  height: 66px;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}
.fourHeader{
  width: 82%;
  overflow: hidden;
  margin: 0 auto 0 ;
}
.fourHeaderImg{
  float: left;
  width: 110px;
  height: 32px;
  margin: 17px 0 0 0;
}
.fourHeaderCon{
  float: right;
  margin: 16px 80px 0 0;
  overflow: hidden;
}
.fourHeaderCon p{
  width: 140px;
  height: 31px;
  text-align: center;
  line-height: 31px;
  float: left;
}
.fourHeaderCon p span{
  font-size: 16px;
  color: #F2F2F2;
  cursor: pointer;
}
.fourHeaderCon p span:hover{
  font-size: 16px;
  color: #E62542;
  letter-spacing: 1px;
  line-height: 16px;
}
.fourHeaderCon p span.fourCheck{
  font-size: 16px;
  color: #D53B49;
  border-bottom: 2px solid  #D53B49;
}
/* 统一的底部 */
.fourFooter{
  width: 100%;
  height: 235px;
  background: #181818;
}
.fourFooterCon{
  width: 86%;
  margin: 0 auto;
  overflow: hidden;
}
.fourFooterCon .footerLeft{
  padding: 50px 0 0 100px;
}
.search {
  float: right;
  margin: 19px 0 0 0;
  background: #EEEEEE;
  border: 1px solid #E1E1E1;
  border-radius: 16px;
  width: 140px;
  height: 28px;
  padding: 5px 0 10px 16px;
  position: relative;
}
/* 关于音乐无界 */
#aboutYin .fourPageHeader{
  background: rgba(0,0,0,0.8);
  border: 1px solid #252525;
}
.aboutYinImg{
  width: 100vw;
  height: 377px;
}
.aboutYinCon{
  width: 56%;
  margin: 0 auto;
}
.aboutYinConT{
  width: 100%;
  text-align: center;
  margin: 56px 0 16px 0;
  font-size: 24px;
  color: #222222;
  letter-spacing: 0;
  line-height: 24px;
}
.aboutYinConE{
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #9D9D9D;
  letter-spacing: 0;
  line-height: 16px;
}
.aboutYinCon .aboutYinWen{
  width: 100%;
  font-size: 14px;
  color: #666666;
  letter-spacing: 0;
  line-height: 28px;
  margin: 64px 0 0 0;
}
/* 图集列表 */
.pictureCon{
  width: 87%;
  margin: 102px auto 0;
}
.pictureConList{
  margin: 40px 0 96px 0;
  overflow: hidden;
}
.pictureConList>div{
  width: 268px;
  /* height: 288px; */
  margin: 0 32px 32px 0;
  padding: 0 0 14px 0;
  position: relative;
  float: left;
}
.pictureConList>div:nth-of-type(4n){
  margin: 0;
}
.pictureListBig{
  width: 268px;
  height: 185px;
}
.pictureNum{
  position: absolute;
  left: 0;
  top: 145px;
  background-image: linear-gradient(-148deg, #FF6876 0%, #FF2545 100%);
  border-radius: 0 20px 20px 0;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-align: center;
  width: 56px;
  height: 24px;
  line-height: 24px;
}
.pictureConT{
  font-size: 24px;
  color: #444444;
  letter-spacing: 1px;
  line-height: 24px;
}
.pictureListDe{
  font-size: 16px;
  color: #222222;
  letter-spacing: 0;
  line-height: 24px;
  padding: 0 16px;
  margin: 12px 0 14px 0;
}
.pictureListB{
  overflow: hidden;
  padding: 0 16px;
}
.blueCicle{
  width: 8px;
  height: 8px;
  float: left;
  margin: 7px 0 0 0;
}
.pictureListType{
  float: left;
  font-size: 13px;
  color: #4A4A4A;
  letter-spacing: 0;
  /* line-height: 13px; */
  margin: 0 0 0 8px;
}
.pictureListTime{
  float: right;
  font-size: 13px;
  color: #999999;
  letter-spacing: 0;
  /* line-height: 13px; */
}
/* 赛事列表 */
.matchListConT{
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #ECECEC;
  border-top: 1px solid #ECECEC;
}
.matchListConT p{
  overflow: hidden;
  margin: 16px 0 0 332px;
}
.matchListConT span{
  width: 96px;
  height: 32px;
  float: left;
  line-height: 32px;
  text-align: center;
  background: #F0F0F0;
  font-size: 14px;
  color: #ABABAB;
  letter-spacing: 0.38px;
  cursor: pointer;
}
.matchListConT span.matchStatusCheck{
  background: #FF2A48;
  color: #FFFFFF;
}
.matchListConT span~span{
  margin-left: 40px;
}
.matchListConMay{
  width: 100%;
  overflow: hidden;
  margin: 0 0 48px 0;
  position: relative;
  min-height: 300px;
}
.matchListConMay>div{
  float: left;
}
.matchTypeQu{
  width: 13px;
  height: 13px;
  position: absolute;
  left: 0;
  top: 3px;
}
.matchConLine{
  width: 1px;
  /* height: 960px; */
  height: 100%;
  background:  #ECECEC;
  position: absolute;
  left: 6px;
  top: 40px;
}
.matchListConMay .matchListConMayLeft{
  position: relative;
  margin: 27px 120px 0 0 ;
}
.matchListTP{
  font-size: 14px;
  color: #444444;
  letter-spacing: 0.38px;
  line-height: 18px;
  padding: 0 0 0 23px;
}
.matchListClickType{
  position: absolute;
  left: 4px;
  top: 60px;
}
.matchListClickType p{
  cursor: pointer;
  margin: 0 0 30px 0;
  font-size: 14px;
  color: #444444;
  letter-spacing: 0.38px;
  line-height: 18px;
  padding: 0 0 0 16px;
  border-left: 3px solid transparent;
}
.matchListClickType p.matchTypeCheck{
  color: #FF2A48;
  border-left: 3px solid #FF2A48;
}
.macthListConMayRight{
  margin: 40px 0 0 0;
  overflow: hidden;
  width: 968px;
}
.matchListDeDiv{
  width: 468px;
  height: 460px;
  background: #FFFFFF;
  border: 1px solid #F7F7F7;
  border-radius: 4px;
  margin: 0 32px 32px 0;
  float: left;
  position: relative;
}
.macthListConMayRight>div:nth-of-type(2n){
  margin: 0;
}
.matchPoster{
  width: 100%;
  height: 270px;
}
.matchLogo{
  position: absolute;
  width: 144px;
  height: 144px;
  border-radius: 50%;
  border: 4px solid #FFFFFF;
  left: 50%;
  margin: 0 0 0 -72px;
  top:199px;
}
.matchWhichName{
  margin: 101px 0 0 0;
  font-size: 19px;
  color: #444444;
  line-height: 20px;
  text-align: center;
}
.matchWhichTime{
  margin: 16px 0 0 0;
  font-size: 14px;
  color: #444444;
  letter-spacing: 0.78px;
  line-height: 14px;
  text-align: center;
}
.matchWhichStatus{
  position: absolute;
  top: 27px;
  left: 0;
  width: 84px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  border-radius: 0 20px 20px 0;
  font-size: 14px;
  letter-spacing: 0.78px;
}
.matchWhichRed{
  background: #FF2A48;
  color: #FFFFFF;
}
.matchWhichGray{
  background: #ededed;
  color: #828282;
}
/* 新的底部导航条 */
.fourFooterNew{
  width: 76%;
  margin: 0 auto;
  overflow: hidden;
}
.fourFooterNew>div{
  float: right;
}
.fourFooterNew>div.newFooterLeft{
  float: left;
  margin: 37px 0 0 0;
}
.newFooterLeftOne{
  font-size: 18px;
  color: #F0F0F0;
  letter-spacing: 1px;
  line-height: 16px;
}
.newFooterLeftTwo{
  font-size: 13px;
  color: #ADADAD;
  letter-spacing: 0;
  line-height: 13px;
  margin: 7px 0 18px 0;
}
.newFooterLeftThree{
  font-size: 14px;
  color: #C9C9C9;
  letter-spacing: 1px;
  line-height: 14px;
  margin: 0 0 16px 0;
  cursor: pointer;
}
.newFooterLeftThree:hover{
  color: #FF2A48;
}
.newFooterRight{
  margin: 36px 0 0 0;
}
.newFooterRight p{
  font-size: 13px;
  color: #ADADAD;
  letter-spacing: 0;
  line-height: 13px;
}
.newFooterRight p.newFooterWx{
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 18px;
  margin: 0 0 6px 0;
}
.newFooterRight img{
  width: 68px;
  height: 68px;
  margin: 16px 0 0 0;
}
.newFooterXu{
  margin: 24px auto 0;
  width: 77%;
  height: 53px;
  line-height: 53px;
  text-align: center;
  border-top: 1px solid #333333;
  font-size: 12px;
  color: #666666;
  letter-spacing: 0;
}
.videoPlay{
  position: absolute;
  left: 50%;
  width: 43px;
  height: 43px;
  margin: 0 0 0 -21px;
  top: 71px;
}
/* 新闻专区 */
.newsListCon{
  overflow: hidden;
  margin: 40px 0 16px 0;
}
.newsListCon>div{
  cursor: pointer;
  float: left;
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  border-radius: 4px;
  width: 368px;
  /* height: 136px; */
  padding: 0 16px 18px;
  margin: 0 32px 32px 0;
}
.newsListCon>div:nth-of-type(3n){
  margin-right:0;
}
.newsWenLeft{
  float: left;
  width: 216px;
  margin: 27px 14px 0 0;
}
.newsImgRight{
  float: left;
  width: 104px;
  height: 104px;
  border-radius: 50%;
  margin: 16px 0 0 0;
}
.newsListDe{
  font-size: 16px;
  color: #222222;
  letter-spacing: 0;
  line-height: 24px;
  margin: 0 0 30px  0;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.newsListConBlue{
  width: 8px;
  height: 8px;
  float: left;
  margin: 5px 0 0 0;
}
.newsListWB{
  overflow: hidden;
}
.newsListConBR{
  font-size: 13px;
  color: #4A4A4A;
  letter-spacing: 0;
  /* line-height: 13px; */
  display: inline-block;
  margin: 0 0 0 8px;
  float: left;
}
.newsListFR{
  font-size: 13px;
  color: #999999;
  letter-spacing: 0;
  /* line-height: 13px; */
  float: right;
}
.newsListConTime{
  margin: 0 10px 0 0;
}
/* 钢琴比赛 */
.pianoMatchBanner{
  width: 100%;
  height: 650px;
}
.pianoNewsT{
  text-align: center;
}
.pianoNewsT>span{
  font-size: 23px;
  color: #444444;
  letter-spacing: 1px;
  line-height: 24px;
  height: 24px;
  display: inline-block;
}
.pianoNewsT>span.allTitleEn{
  font-size: 20px;
  color: #444444;
  letter-spacing: 1px;
  line-height: 20px;
  height: 20px;
}
.pianoSeeMore{
  width: 368px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  margin: 8px auto 0;
  cursor: pointer;
}
.newsSeeMore{
  border: 1px solid #979797;
}
.videoSeeMore{
  background: #FF2A48;
  font-size: 18px;
  color: #FFFFFF;
  letter-spacing: 0.5px;
}
.pianoVideoCon{
  margin: 84px 0 0 0;
}
#pianoMatch .pictureConList{
  margin-bottom: 0;
}
.pianoPictureCon{
  margin: 44px 0 48px 0;
}
.pianoJuryCon{
  margin: 84px 0 0 0;
}
.pianoJuryList{
  margin: 40px 0 0 0;
  overflow: hidden;
}
.pianoJuryList>div{
  float: left;
  background: #FFFFFF;
  border: 1px solid #EFEFEF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.06);
  border-radius: 4px;
  margin: 0 32px 32px 0;
  width: 268px;
  height: 246px;
}
.pianoJuryList>div:nth-of-type(4n){
  margin-right: 0;
}
.pianoJuryHeading{
  width: 132px;
  height: 132px;
  border-radius: 50%;
  display: block;
  margin: 24px auto 0;
}
.pianoJuryName{
  font-size: 18px;
  color: #222222;
  letter-spacing: 0.5px;
  line-height: 18px;
  margin: 24px 0 10px 0;
  text-align: center;
}
.pianoJurySkill{
  font-size: 14px;
  color: #222222;
  letter-spacing: 0.5px;
  line-height: 14px;
  text-align: center;
}
/* 新闻详情 */
.newsDetailsCon{
  width: 86%;
  margin: 102px auto 33px;
}
.whichMatchDT{
  font-size: 16px;
  color: #444444;
  letter-spacing: 0;
}
.newsDetailsTitle{
  margin: 27px 0 24px 0;
  font-size: 24px;
  color: #222222;
  letter-spacing: 0.5px;
}
.newsDetailTitleSide img{
  width: 8px;
  height: 8px;
}
.matchDetailType{
  font-size: 13px;
  color: #4A4A4A;
  letter-spacing: 0;
  line-height: 14px;
  margin: 0 34px 0 8px;
}
.newsDetailsTime{
  font-size: 13px;
  color: #999999;
  letter-spacing: 0;
  line-height: 14px;
}
.newsDetailsIntro{
  margin: 32px 0 0 0;
  width: 100%;
}
.newsDetailAbout{
  width: 100%;
  padding: 0 0 48px 0;
  border-bottom: 1px solid #D8D8D8;
  border-top: 1px solid #D8D8D8;
}
.newsDetailAbout h2{
  font-size: 18px;
  color: #222222;
  letter-spacing: 0.2px;
  padding: 16px 0;
}
#newsDetails .newsListCon{
  margin: 0;
}
#newsDetails .newsListCon>div{
  margin-bottom: 0;
}
.newsDetailComment h2{
  font-size: 18px;
  color: #222222;
  letter-spacing: 0.2px;
  margin: 24px 0 5px 0;
}
.newsDetailCommentList>div{
  overflow: hidden;
  padding: 24px 0 16px 0;
}
.newsDetailCommentList>div:nth-of-type(1)~div{
  border-top: 1px solid #E0E0E0;
}
.newsDetailCommentList>div img{
  width: 48px;
  height: 48px;
  border-radius: 50%;
  float: left;
}
.newsDetailCommentList>div .newsDetailCommentWhichRight{
  float: left;
  max-width: 1100px;
  margin: 7px 0 0 20px;
}
.newsCommentName{
  font-size: 18px;
  color: #4E4E4E;
  letter-spacing: 2px;
  line-height: 18px;
}
.newsCommentTime{
  font-size: 14px;
  color: #999999;
  letter-spacing: 0.7px;
  line-height: 14px;
  margin: 6px 0 16px 0;
}
.newsCommentIntro{
  font-size: 16px;
  color: #444444;
  letter-spacing: 0;
  line-height: 28px;
}
/* 视频详情 */
.videoDetailCon{
  width: 100%;
  overflow: hidden;
  margin: 32px 0 40px 0;
}
#My-video2{
  width: 100%;
}
.videoDetailAbout{
  border-bottom: 1px solid  #D8D8D8;
}
.videoDetailAbout h2{
  font-size: 18px;
  color: #222222;
  letter-spacing: 0.2px;
}
#videoDetails .pictureConList{
  margin: 25px 0 16px 0;
}
/* 图集详情 */
.pictureDetailCon{
  width: 100%;
}
.pictureDetailImgShow{
  width: 100%;
  height: 586px;
  margin: 32px 0 27px 0;
  display: block;
}
.pictureDetailImgIntro{
  overflow: hidden;
}
.pictureDetailIntroLeft{
  float: left;
  width: 868px;
  font-size: 18px;
  color: #222222;
  letter-spacing: 0.5px;
  line-height: 28px;
}
.pictureDetailIntroRight{
  float: right;
  overflow: hidden;
  margin: 16px 0 0 0;
}
.pictureDetailIntroRight p{
  float: left;
}
.pictureDetailIntroRight p.detailPageNum{
  height: 28px;
  line-height: 28px;
  margin: 0 15px 0 18px;
}
.pictureDetailIntroRight p.detailButtonClick{
  width: 48px;
  height: 28px;
  position: relative;
}
 .pictureDetailIntroRight p.detailButtonClick img{
  width: 48px;
  height: 28px;
  display: inline-block;
}
.pictureDetailIntroRight p.detailButtonClick button{
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 28px;
}
.pictureDetailIntroRight p.detailButtonClick img{

}
.matchMainHeader{
  width: 87%;
  margin: 0 auto;
}
.matchMainHeader img{
  width: 590px;
  height: 54px;
  display: block;
  margin: 40px auto 0;
}
.matchMainHeaderCon{
  height: 47px;
  width: 100%;
  text-align: center;
  border-bottom:1px solid #EEEEEE;
  border-top:1px solid #EEEEEE;
  line-height: 47px;
  margin: 36px 0 33px 0;
}
.matchMainHeaderCon span{
  display: inline-block;
  font-size: 16px;
  color: #666666;
  letter-spacing: 1px;
  line-height: 16px;
  margin: 0 56px 0 0;
  height: 47px;
  line-height: 47px;
  cursor: pointer;
}
.matchMainHeaderCon span:hover{
  color: #222222;
  border-bottom: 1px solid #000;
}
.matchMainBanner{
  position: relative;
}
.matchMainBannerImg{
  width: 100%;
  height: 560px;
}
.matchMainBannerDiv{
  position: absolute;
  left: 50%;
  top: 523px;
  width: 773px;
  overflow: hidden;
  background: #FFFFFF;
  border: 1px solid #ECECEC;
  border-radius: 2px;
  padding: 39px 0 38px 48px;
  margin: 0 0 0 -386px;
}
.matchMainBannerDivLeft{
  float: left;
  margin: 12px 85px  0 0;
}
.matchMainBannerDivLeft span{
  display: block;
  font-size: 24px;
  color: #444444;
  letter-spacing: 1px;
}
.matchMainBannerDivLeft span:nth-of-type(2){
  font-size: 14px;
  color: #444444;
}
.matchMainBannerDivRight{
  float:left;
  width: 474px;
  height: 88px;
}
.matchMainCon{
  width: 87%;
  margin: 205px auto 0;
  overflow: hidden;
}
.matchMainAbstractLeft{
  width: 769px;
  float: left;
  margin: 0 30px 0 0;
}
.matchMainAbstractRight{
  float: left;
  width: 369px;
  margin: 62px 0 0 0;
}
.matchMainAbstractRight img{
  width: 264px;
  height: 435px;
  display: block;
  margin: 38px auto 135px;
}
.matchMainAbstractRightP{
  width: 237px;
  border: 1px solid #505050;
  border-radius: 2px;
  height: 57px;
  padding: 9px 0 0 0;
  margin: 0 auto;
}
.matchMainAbstractRightP span{
  display: block;
  font-size: 18px;
  color: #2D2D2D;
  letter-spacing: 2.06px;
  text-align:center;
}
.matchMainAbstractRightP span:nth-of-type(2){
  font-size: 14px;
  color: #2D2D2D;
  letter-spacing: 1.6px;
  line-height: 14px;
}
.matchMainAbstractT{
  text-align: center;
}
.matchMainAbstractT span{
  font-size: 24px;
  color: #444444;
  letter-spacing: 1px;
  line-height: 24px;
  display: block;
}
.matchMainAbstractT span:nth-of-type(2){
  margin: 12px 0 33px 0;
  font-size: 14px;
}
.matchMainPicture{
  width: 87%;
  margin: 0 auto;
}
.matchMainPictureT{
  width: 100%;
  text-align: center;
}
.matchMainPictureT span{
  font-size: 24px;
  color: #444444;
  letter-spacing: 1px;
  line-height: 24px;
  display: block;
}
.matchMainPictureT span:nth-of-type(2){
  font-size: 14px;
  color: #444444;
  letter-spacing: 1.6px;
  line-height: 16px;
  margin: 11px 0 33px 0;
}
.matchMainPictureCon{
  width: 100%;
  overflow: hidden;
}
.matchMainPictureCon>div{
  float: left;
}
.matchMainPictureLeft{
  width: 888px;
}
.matchMianPictureRight{
  width: 281px;
}
.matchMianPictureRight img{
  width: 281px;
  height: 656px;
}
.matchMainPictureLeft img{
  height: 320px;
  float: left;
  margin: 0 16px 16px 0;
}
.matchMainPictureLeft img.matchMainPictureLeftB{
  width: 576px;
}
.matchMainPictureLeft img.matchMainPictureLeftL{
  width: 280px;
}
#juryList .fourHeaderCon,#macthRules .fourHeaderCon{
  float: left;
  margin: 16px 0 0 280px;
}
.matchMainAbstractCon p{
  font-size: 14px;
  color: #444444;
  letter-spacing: 1.6px;
  line-height: 24px;
  text-align: justify;
  text-indent: 2em;
}