<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!--搜索引擎收录-->
  <meta charset="UTF-8">
  <meta name="keywords" content="音乐无界；教育咨询；组织文化艺术交流活动（不含营业性演出）；承办展览展示活动；会议服务；企业管理咨询；声乐培训." />
  <meta name="description" content="音乐无界；教育咨询；组织文化艺术交流活动（不含营业性演出）；承办展览展示活动；会议服务；企业管理咨询；声乐培训.">
  <!--小图标--> 
  <link href="#" rel="SHORTCUT ICON">
  <!--描述对应的LOGO图片--> 
  <img src="../images/LOGO.png" rel="nofollow" alt="图片" title="图片" style="display:none;"/>
  <link rel="stylesheet" href="../css/public.css">
  <link rel="stylesheet" href="../css/conduct.css">
  <link rel="stylesheet" href="../css/video-js.css">
  <script src="../js/jquery.js"></script>
  <title>利博莫官网首页</title>
  <!-- 百度统计  yinyuewujie.com （请将代码添加到网站全部页面的</head>标签前） -->
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?5e71f9aec7b452daf5225c239d095d09";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

<!-- 百度统计  yywujie.com （请将代码添加到网站全部页面的</head>标签前） -->
 <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?640e4ca9ef4024dc5d081f808484f9f1";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>
</head>
<body>
  <div class="wrap">
    <div class="head">
      <div class="headCon">
        <img class="indexLogo" src="../images/LOGO.png" alt="">
        <div class="navigation">
          <p>
            <span class="check">首页</span>
          </p>
          <p><span onclick="location.href='matchList.html'">赛事</span></p>
          <p><span>APP下载</span></p>
          <p><span onclick="location.href='aboutYin.html'">关于音乐无界</span></p>
        </div>
        <div class="search">
          <img class="searchImg" src="../images/search.jpg" alt="">
          <input class="searchCon" type="text" placeholder="关键字查找">
        </div>
      </div>
    </div>
    <div class="fixed">
      <!-- <div class="slideshow-image" style="background-image: url('http://imagecdn.yinyuewujie.com/o_1bs2d097nu0pmdl13jr2op1qqu9.jpg')"></div>
      <div class="slideshow-image" style="background-image: url('../images/b2.jpg')"></div>
      <div class="slideshow-image" style="background-image: url('../images/b3.png')"></div>
      <div class="slideshow-image" style="background-image: url('../images/b4.jpg')"></div>
      <div class="slideshow-image" style="background-image: url('../images/b5.jpg')"></div> -->
      <div class="slideshow-image" style="background-image: url('http://imagecdn.yinyuewujie.com/o_1bs2d097nu0pmdl13jr2op1qqu9.jpg')"></div>
      <div class="slideshow-image" style="background-image: url('http://imagecdn.yinyuewujie.com/o_1bs2d36io6dp1v571er8130o1m5o9.jpg')"></div>
      <div class="slideshow-image" style="background-image: url('http://imagecdn.yinyuewujie.com/o_1bs2d4d4jbjedfu37818elq8t9.png')"></div>
      <div class="slideshow-image" style="background-image: url('http://imagecdn.yinyuewujie.com/o_1bs2d54jb1hsev9qe18igc1qds9.jpg')"></div>
      <div class="alertDiv">
        <div class="jumpLeft">
          <!-- <p class="leftOne"></p> -->
          <p class="havRed leftTwo">
              权威的音乐赛事
              <img src="../images/1_color.png" alt="">
            </p>
          <p class="leftTwo">综合平台</p>
          <p class="leftThree">
            Authoritative <br>
            Music Competition Platform
          </p>
          <div class="leftBottom">
            即刻下载APP
            <div class="wx">
                <img src="../images/wx2.jpg" alt="">
            </div>
          </div>
        </div>
        <!-- <div class="jumpRight"> -->
          <div style="margin-bottom:75px;" class="rightOneDiv">
            <p class="rightPiano rightTag">钢琴比赛</p>
            <p class="rightBack rightBackPiano"><img src="../images/PIANO.png" alt=""></p>
          </div>
          <div class="rightTwoDiv">
            <p class="rightVoice rightTag">声乐比赛</p>
            <p class="rightBack rightBackVoice"><img style="width:241px;" src="../images/VOCAL.png" alt=""></p>
          </div>
        <!-- </div> -->
      </div>
    </div>
    <div class="con">
        <!-- <div class="conOne">
          <img class="bgBig" src="../images/1.png" alt="">
          <img class="bgBig" src="../images/2.png" alt="">
          <img class="bgBig" src="../images/3.png" alt="">
          <img class="bgBig" src="../images/4.png" alt="">
        </div> -->
      <div class="conOne">
        <img class="bgBig" src="../images/1.png" alt="">
        <div class="showCon leftPadding">
          <div class="showConTop">
            <!-- <img class="conNum" src="../images/number1.png" alt=""> -->
            <div class="conDetail">
              <p class="havRed">
                音乐赛事
                <img src="../images/1_color.png" alt="">
              </p>
              <p>专业音乐舞台 实现音乐梦想</p>
            </div>
          </div>
          <div class="showConBottom1">
            <img src="../images/phone1.png" alt="">
            <div class="conRight1">
              <p>
                <span>精挑细选</span>
                权威音乐赛事汇聚
              </p>
              <p>
                <span>随时随地</span>
                手机报名、轻松录制参赛视频
              </p>
              <p>
                <span>公正公开</span>
                <span class="changFen">专业评委撰写书面专业评估，<br>展现音乐专业学习成果</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="conTwo">
        <img class="bgBig" src="../images/2.png" alt="">
        <div class="showCon">
          <div class="showConTop">
            <img class="conNum" src="../images/number2.png" alt="">
            <div class="conDetail">
              <p class="havRed">
                大师课&一对一小课
                <img src="../images/1_color.png" alt="">
              </p>
              <p>音乐人才国际化的便捷音乐桥</p>
            </div>
          </div>
          <div class="showConBottom1 showConBottom2">
            <div class="conRight1">
              <p>
                <span>国际名校</span>
                <span class="changFen">百所国际音乐名校，<br>官方唯一指定留学申请平台</span>
              </p>
              <p>
                <span>国际名师</span>
                <span class="changFen">千名国际音乐名师，<br>留学专业评估、在线专业指导</span>
              </p>
            </div>
            <img style="width:430px;height:813px;" src="../images/phone2.png" alt="">
          </div>
        </div>
      </div>
      <div class="conThree">
        <img class="bgBig" src="../images/3.png" alt="">
        <div class="showCon">
          <div class="showConTop">
            <img class="conNum" src="../images/number3.png" alt="">
            <div class="conDetail">
              <p class="havRed">
                独家赛事视频
                <img src="../images/1_color.png" alt="">
              </p>
              <p>观视频、涨知识</p>
            </div>
          </div>
          <div class="showConBottom1">
            <div class="showVideoP">
              <p>
                <span>学习交流</span>
                海量专业参赛作品，相互学习交流
              </p>
              <p>
                <span>高峰论坛</span>
                <span class="changFen">高峰论坛引领国际音乐<br>教育风向标</span>
              </p>
              <p>
                <span>名师课程</span>
                不出国门观摩国际名校名师大师课
              </p>
            </div>
            <div class="playVideo">
              <video id="my-video" class="video-js vjs-big-play-centered"  poster="http://cdn.yinyuewujie.com/o_1bpvfmj2sacs589jkej6q1i7p9.mp4?vframe/jpg/offset/38"  playsinline="true" controls preload width="100%" height="465" data-setup="{}" >
                <source src="http://cdn.yinyuewujie.com/o_1bpvfmj2sacs589jkej6q1i7p9.mp4" type="video/mp4">
              </video>
            </div>
          </div>
        </div>
      </div>
      <div class="confour">
        <img class="bgBig" src="../images/4.png" alt="">
        <div class="showCon">
          <div class="showConTop">
            <img class="conNum" src="../images/number4.png" alt="">
            <div class="conDetail">
              <p class="havRed">
                服务
                <img src="../images/1_color.png" alt="">
              </p>
              <p>观视频、涨知识</p>
            </div>
          </div>
          <div class="showConBottom1 showConBottom4">
            <img src="../images/phone4.png" alt="">
            <div class="conRight1">
              <p>
                <span>优质活动</span>
                优质音乐活动、拓宽职业发展
              </p>
              <p>
                <span>新鲜资讯</span>
                音乐产业新鲜资讯权威发布
              </p>
              <p>
                <span>音乐培训</span>
                <span class="changFen">国际高端音乐培训提升专业<br>对接国际资源</span>
              </p>
              <p>
                <span>资料库</span>
                <span class="changFen">权威音乐资料库，<br>为专业学习保驾护航</span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footerCon">
          <div class="footerLeft">
            <p class="footerTab">
              <span onclick="location.href='aboutYin.html'">关于音乐无界</span>
              <span onclick="location.href='contactUs.html'">联系我们</span>
              <!-- <span onclick="location.href='officialNum.html'">官方号</span> -->
            </p>
            <p class="footerWen">
              <span>利博莫国际教育咨询（北京）有限公司</span>
              <span class="footerWSpan">ICP经营许可证 ：京B2-20170763</span>
              <span>网络文化经营许可证 : &nbsp;京网文[2016] 6123-817号</span>
            </p>
          </div>
          <div class="footerRight">
              <img  src="../images/wx2.png" alt="">
              <p>微信公众号</p>
            </div>
          <div class="footerRight">
            <img style="margin: 0 0 0 10px;" src="../images/wx2.png" alt="">
            <p>iOS & android</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<script src="http://vjs.zencdn.net/5.18.4/video.min.js"></script>
</body>
</html>
