<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/public.css">
  <link rel="stylesheet" href="../css/conduct.css">
  <script src="../js/autoAdapt.js"></script>
  <title>赛事列表</title>
</head>
<body>
  <div class="fourPage" id="macthRules">
    <!-- 头部导航条 -->
    <div class="fourPageHeader">
        <div class="fourHeader">
            <img class="fourHeaderImg" src="../images/LOGO.png" alt="">
            <div class="search">
              <img class="searchImg" src="../images/search.jpg" alt="">
              <input class="searchCon" type="text" placeholder="关键字查找">
            </div>
            <div class="fourHeaderCon">
              <p>
                  <span onclick="location.href='index.html'">首页</span>
              </p>
              <p>
                  <span>赛事</span>
              </p>
              <p>
                  <span>APP下载</span>
              </p>
              <p>
                  <span onclick="location.href='aboutYin.html'">关于音乐无界</span>
              </p>
            </div>
          </div>
    </div>
    <!-- 内容部分 -->
    <div class="pictureCon">
      <div class="matchListConT">
        <p>
          <span abc="" class="matchStatusCheck">全部</span>
          <span abc="2">正在进行</span>
          <span abc="1">正在报名</span>
          <span abc="3">已经结束</span>
        </p>
      </div>
      <div class="matchListConMay">
        <p class="matchConLine"></p>
        <div class="matchListConMayLeft">
          
          <img class="matchTypeQu" src="../images/bluecircle.png" alt="">
          <p class="matchListTP">赛事类别</p>
          <div class="matchListClickType">
            <p abc="" class="matchTypeCheck">全部</p>
            <p abc="2">声乐</p>
            <p abc="1">钢琴</p>
          </div>
        </div>
        <div class="macthListConMayRight">
            <!-- <div class="matchListDeDiv"><span class="matchWhichStatus matchWhichRed">正在报名</span><img class="matchPoster" src="../images/2.png" alt=""><img class="matchLogo" src="../images/1.png" alt=""><p class="matchWhichName">2018第15届美国古典声乐家国际声乐比赛</p><p class="matchWhichTime">报名截止时间：2018-02-01</p></div> -->
            <!-- <div class="matchListDeDiv">
              <span class="matchWhichStatus matchWhichRed">正在报名</span>
              <img class="matchPoster" src="../images/2.png" alt="">
              <img class="matchLogo" src="../images/1.png" alt="">
              <p class="matchWhichName">2018第15届美国古典声乐家国际声乐比赛</p>
              <p class="matchWhichTime">报名截止时间：2018-02-01</p>
            </div>
            <div class="matchListDeDiv">
              <span class="matchWhichStatus matchWhichRed">正在报名</span>
              <img class="matchPoster" src="../images/2.png" alt="">
              <img class="matchLogo" src="../images/1.png" alt="">
              <p class="matchWhichName">2018第15届美国古典声乐家国际声乐比赛</p>
              <p class="matchWhichTime">报名截止时间：2018-02-01</p>
            </div>
            <div class="matchListDeDiv">
              <span class="matchWhichStatus matchWhichGray">已经结束</span>
              <img class="matchPoster" src="../images/2.png" alt="">
              <img class="matchLogo" src="../images/1.png" alt="">
              <p class="matchWhichName">2018第15届美国古典声乐家国际声乐比赛</p>
              <p class="matchWhichTime">报名截止时间：2018-02-01</p>
            </div> -->
        </div>
        <p class="pageCliCk">
          <img src="../images/left.png" alt="">
          <span>1/7</span>
          <img src="../images/right.png" alt="">
        </p>
      </div>
    </div>
    <!-- 底部导航条 -->
    <!-- <div class="fourFooter">
      <div class="fourFooterCon">
        <div class="footerLeft">
          <p class="footerTab">
            <span onclick="location.href='aboutYin.html'">关于音乐无界</span>
            <span onclick="location.href='contactUs.html'">联系我们</span>
          </p>
          <p class="footerWen">
            <span>利博莫国际教育咨询（北京）有限公司</span>
            <span class="footerWSpan">ICP经营许可证：京B2-20170763</span>
            <span>网络文化经营许可证: &nbsp;京网文[2016] 6123-817号</span>
          </p>
        </div>
        <div class="footerRight">
          <img src="../images/wx2.png" alt="">
          <p>微信公众号</p>
        </div>
        <div class="footerRight">
          <img style="margin: 0 0 0 10px;" src="../images/wx2.png" alt="">
          <p>iOS & android</p>
        </div>
      </div>
    </div> -->
    <div class="fourFooter">
      <div class="fourFooterNew">
        <div class="newFooterLeft">
          <p class="newFooterLeftOne">联系我们</p>
          <p class="newFooterLeftTwo">Contact us</p>
          <p class="newFooterLeftThree">关于我们</p>
          <p class="newFooterLeftThree">入驻我们</p>
        </div>
        <div style="margin-left: 80px;" class="newFooterRight">
            <p class="newFooterWx">微信公众号</p>
            <p>DWeChat public no.</p>
            <img src="../images/wx2.png" alt="">
          </div>
        <div class="newFooterRight">
          <p class="newFooterWx">iOS & android</p>
          <p>Download</p>
          <img src="../images/wx2.png" alt="">
        </div>
      </div>
      <div class="newFooterXu">
          ICP经营许可证：京B2-20170763 网络文化经营许可证：京网文[2016] 6123-817 号
      </div>
    </div>
  <script src="../js/jquery.js"></script>
  <script src="../js/https.js"></script>
  <script src="../js/package.js"></script>
  <script>
    $(function(){
      searchFun();
    })
    function searchFun(){
      $('.macthListConMayRight').html('');
      var obj ={
        pageNum:1,
        type:$('.matchTypeCheck').attr('abc'),
        status:$('.matchStatusCheck').attr('abc')
      };
      $.ajax({
        url:httpB+'/libomo-test/web/match/selectList.do',
        type:'POST',
        data:obj,
        success:function(data){
          if (data.code == 0) {
            console.log(data);
            getDataFun(data.data.list);
          }
          $('.matchWhichTime span').each(function(){
            var htm = Number($(this).html());
            var i = $('.matchWhichTime span').index(this);
            $('.matchWhichTime span').eq(i).html(getYearData(htm));
          })
          $('.matchWhichStatus').each(function(){
            var htm = Number($(this).html());
            var i = $('.matchWhichStatus').index(this);
            $('.matchWhichStatus').html(matchStatus(htm));
          })
        }
      })
    }
    function getDataFun(data){
      if (data.length>0) {
        for (var i = 0; i < data.length; i++) {
          if (data[i].intro) {
           $('.macthListConMayRight').append('<div class="matchListDeDiv"><span class="matchWhichStatus matchWhichRed">'+data[i].status+'</span><img class="matchPoster" src="'+data[i].image+'" alt=""><img class="matchLogo" src="'+data[i].icon+'" alt=""><p class="matchWhichName">'+data[i].intro+'</p><p class="matchWhichTime">报名截止时间：<span>'+data[i].endtime+'</span></p></div>');
          }
          
        }
      }
    }
    $('.matchListConT span').click(function(){
      $(this).addClass('matchStatusCheck').siblings().removeClass('matchStatusCheck');
      searchFun();
    })
    $('.matchListClickType p').click(function(){
      $(this).addClass('matchTypeCheck').siblings().removeClass('matchTypeCheck');
      searchFun();
    })
  </script>
</body>
</html>
