<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/public.css">
  <link rel="stylesheet" href="../css/conduct.css">
  <script src="../js/autoAdapt.js"></script>
  <title>赛事章程</title>
</head>
<body>
  <div class="fourPage" id="macthRules">
    <!-- 头部导航条 -->
    <div class="fourPageHeader">
        <div class="fourHeader">
            <img class="fourHeaderImg" src="../images/fourLOGO.png" alt="">
            <div class="search">
              <img class="searchImg" src="../images/search.jpg" alt="">
              <input class="searchCon" type="text" placeholder="关键字查找">
            </div>
            <div class="fourHeaderCon">
              <p>
                  <span>首页</span>
              </p>
              <p>
                  <span class="fourCheck">赛事章程</span>
              </p>
              <p>
                  <span>院校录取及奖学金</span>
              </p>
              <p>
                  <span>留学评估</span>
              </p>
            </div>
          </div>
    </div>
    <!-- 内容部分 -->
    <div class="fourPageCon">
      <p class="fourWhereList">
          您现在的位置：首页 > <span class="fourMatchName">16届赛事</span> > <span class="fourWhere">赛事章程</span>
      </p>
      <div class="fourPageArticle">
        <h2>你知道吗？像学说话一样,听音乐也有“黄金期”</h2>
        <p>
            你知道吗？像学说话一样,听音乐也有“黄金期”你知道吗？像学说话一样,听音乐也有“黄金期”你知道吗？像学说话一样,听音乐也有“黄金期”你知道吗？像学说话一样,听音乐也有“黄金期”
            超级假日”前七天：中国接待游客超6.6亿人次旅游收入近5500亿元
            
            中新社北京10月7日电 (夏宾)中国国庆、中秋双节叠加形成的8天“超级假日”迎来第七天。中国国家旅游局7日公布数据显示，当天，全国共接待国内游客0.42亿人次，同比增长17.6%；实现国内旅游收入329亿元(人民币，下同)，同比增长14.8%。
            
            根据国家旅游局公开数据测算，10月1日至7日，全国共接待国内游客逾6.6亿人次，实现国内旅游收入达5494亿元。
            
            国家旅游局表示，2017年国庆中秋假日临近尾声，部分游客踏上返程，各地市场秩序良好，无重大涉旅安全事件发生。
            
            与此同时，中远程游客开始返程，旅游市场平稳回落，部分地区仍保持较高热度；市区休闲和郊区旅游开始成为消费主流，各地的周末休闲、户外文体、博物馆参观、餐饮购物、节庆娱乐等活动明显增加。
        </p>
        <p>
            你知道吗？像学说话一样,听音乐也有“黄金期”你知道吗？像学说话一样,听音乐也有“黄金期”你知道吗？像学说话一样,听音乐也有“黄金期”你知道吗？像学说话一样,听音乐也有“黄金期”
            超级假日”前七天：中国接待游客超6.6亿人次旅游收入近5500亿元
            
            中新社北京10月7日电 (夏宾)中国国庆、中秋双节叠加形成的8天“超级假日”迎来第七天。中国国家旅游局7日公布数据显示，当天，全国共接待国内游客0.42亿人次，同比增长17.6%；实现国内旅游收入329亿元(人民币，下同)，同比增长14.8%。
            
            根据国家旅游局公开数据测算，10月1日至7日，全国共接待国内游客逾6.6亿人次，实现国内旅游收入达5494亿元。
            
            国家旅游局表示，2017年国庆中秋假日临近尾声，部分游客踏上返程，各地市场秩序良好，无重大涉旅安全事件发生。
            
            与此同时，中远程游客开始返程，旅游市场平稳回落，部分地区仍保持较高热度；市区休闲和郊区旅游开始成为消费主流，各地的周末休闲、户外文体、博物馆参观、餐饮购物、节庆娱乐等活动明显增加。
            
            社北京10月7日电 (夏宾)中国国庆、中秋双节叠加形成的8天“超级假日”迎来第七天。中国国家旅游局7日公布数据显示，当天，全国共接待国内游客0.42亿人次，同比增长17.6%；实现国内旅游收入329亿元(人民币，下同)，同比增长14.8%。
            
            根据国家旅游局公开数据测算，10月1日至7日，全国共接待国内游客逾6.6亿人次，实现国内旅游收入达5494亿元。
            
            国家旅游局表示，2017年国庆中秋假日临近尾声，部分游客踏上返程，各地市场秩序良好，无重大涉旅安全事件发生。
            
            与此同时，中远程游客开始返程，旅游市场平稳回落，部分地区仍保持较高热度；市区休闲和郊区旅游开始成为消费主流，各地的周末休闲、户外文体、博物馆参观、餐饮购物、节庆娱乐等活动明显增加。
        </p>
      </div>
    </div>
    <!-- 底部导航条 -->
    <div class="fourFooter">
        <div class="fourFooterCon">
          <div class="footerLeft">
            <p class="footerTab">
              <span onclick="location.href='aboutYin.html'">关于音乐无界</span>
              <span onclick="location.href='contactUs.html'">联系我们</span>
              <!-- <span onclick="location.href='officialNum.html'">官方号</span> -->
            </p>
            <!-- <p class="footerWen"></p> -->
            <p class="footerWen">
              <span>利博莫国际教育咨询（北京）有限公司</span>
              <span class="footerWSpan">ICP经营许可证：京B2-20170763</span>
              <span>网络文化经营许可证: &nbsp;京网文[2016] 6123-817号</span>
            </p>
          </div>
          <div class="footerRight">
            <img src="../images/wx2.png" alt="">
            <p>微信公众号</p>
          </div>
          <div class="footerRight">
            <img style="margin: 0 0 0 10px;" src="../images/wx2.png" alt="">
            <p>iOS & android</p>
          </div>
        </div>
      </div>
  </div>
  <script>
    
  </script>
</body>
</html>
