<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/public.css">
  <link rel="stylesheet" href="../css/conduct.css">
  <script src="../js/autoAdapt.js"></script>
  <title>新闻详情</title>
</head>
<body>
  <div class="fourPage" id="newsDetails">
    <!-- 头部导航条 -->
    <div class="fourPageHeader">
        <div class="fourHeader">
            <img class="fourHeaderImg" src="../images/fourLOGO.png" alt="">
            <!-- <div class="search">
              <img class="searchImg" src="../images/search.jpg" alt="">
              <input class="searchCon" type="text" placeholder="关键字查找">
            </div> -->
            <div class="fourHeaderCon">
                <p>
                    <span onclick="location.href='index.html'">首页</span>
                </p>
                <p>
                    <span onclick="gotoNewsList()">新闻</span>
                </p>
                <p>
                    <span onclick="gotoVideoList()">视频</span>
                </p>
                <p>
                    <span onclick="gotoPictureList()">图集</span>
                </p>
                <p>
                    <span>比赛结果</span>
                </p>
            </div>
          </div>
    </div>
    <!-- 内容部分 -->
    <div class="newsDetailsCon">
        <p class="whichMatchDT">您现在的位置：首页 > <span class="whichMatchDetails">16届赛事</span>新闻专区 > 新闻详情</p>
        <p class="newsDetailsTitle">你知道吗？像学说话一样,听音乐也有“黄金期”</p>
        <p class="newsDetailTitleSide">
            <img  src="../images/bluecircle.png" alt="">
            <span class="matchDetailType">声乐比赛</span>
            <span class="newsDetailsTime">2017-01-01</span>
        </p>
        <!-- 新闻 -->
        <div class="newsDetailsIntro">
            
        </div>
        <!-- 相关要闻 -->
        <div class="newsDetailAbout">
            <h2>相关要闻</h2>
            <div class="newsListCon">
                <div>
                    <div class="newsWenLeft">
                        <p class="newsListDe">小提琴演奏时的姿态很重要,进来Get一下吧</p>
                        <p class="newsListWB">
                            <img class="newsListConBlue" src="../images/bluecircle.png" alt="">
                            <span class="newsListConBR">乐器</span>
                            <span class="newsListConTime newsListFR">2小时前</span>
                            <span class="newsListConCoN newsListFR">190评论·</span>
                        </p>
                    </div>
                    <img class="newsImgRight" src="../images/1.png" alt="">
                </div>
                <div>
                    <div class="newsWenLeft">
                        <p class="newsListDe">小提琴演奏时的姿态很重要,进来Get一下吧</p>
                        <p class="newsListWB">
                            <img class="newsListConBlue" src="../images/bluecircle.png" alt="">
                            <span class="newsListConBR">乐器</span>
                            <span class="newsListConTime newsListFR">2小时前</span>
                            <span class="newsListConCoN newsListFR">190评论·</span>
                        </p>
                    </div>
                    <img class="newsImgRight" src="../images/1.png" alt="">
                </div>
                <div>
                    <div class="newsWenLeft">
                        <p class="newsListDe">小提琴演奏时的姿态很重要,进来Get一下吧</p>
                        <p class="newsListWB">
                            <img class="newsListConBlue" src="../images/bluecircle.png" alt="">
                            <span class="newsListConBR">乐器</span>
                            <span class="newsListConTime newsListFR">2小时前</span>
                            <span class="newsListConCoN newsListFR">190评论·</span>
                        </p>
                    </div>
                    <img class="newsImgRight" src="../images/1.png" alt="">
                </div>
            </div>
        </div>
        <!-- 评论 -->
        <div class="newsDetailComment">
            <h2>评论</h2>
            <div class="newsDetailCommentList">
                <div>
                    <img src="../images/newHead.png" alt="">
                    <div class="newsDetailCommentWhichRight">
                        <p class="newsCommentName">我会带着笑脸</p>
                        <p class="newsCommentTime">今天 11:36</p>
                        <p class="newsCommentIntro">我是一个占位符，我是一个占位符，我是一个占位符，我是一个占位符，我是一个占位符，我是一个占位符，我是一个占位符。</p>
                    </div>
                </div>
                <div>
                    <img src="../images/newHead.png" alt="">
                    <div class="newsDetailCommentWhichRight">
                        <p class="newsCommentName">我会带着笑脸</p>
                        <p class="newsCommentTime">今天 11:36</p>
                        <p class="newsCommentIntro">我是一个占位符，我是一个占位符，我是一个占位符，我是一个占位符，我是一个占位符，我是一个占位符，我是一个占位符。</p>
                    </div>
                </div>
                <div>
                    <img src="../images/newHead.png" alt="">
                    <div class="newsDetailCommentWhichRight">
                        <p class="newsCommentName">我会带着笑脸</p>
                        <p class="newsCommentTime">今天 11:36</p>
                        <p class="newsCommentIntro">我是一个占位符，我是一个占位符，我是一个占位符，我是一个占位符，我是一个占位符，我是一个占位符，我是一个占位符。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部导航条 -->
    <div class="fourFooter">
      <div class="fourFooterNew">
        <div class="newFooterLeft">
          <p class="newFooterLeftOne">联系我们</p>
          <p class="newFooterLeftTwo">Contact us</p>
          <p class="newFooterLeftThree">关于我们</p>
          <p class="newFooterLeftThree">入驻我们</p>
        </div>
        <div style="margin-left: 80px;" class="newFooterRight">
            <p class="newFooterWx">微信公众号</p>
            <p>DWeChat public no.</p>
            <img src="../images/wx2.png" alt="">
          </div>
        <div class="newFooterRight">
          <p class="newFooterWx">iOS & android</p>
          <p>Download</p>
          <img src="../images/wx2.png" alt="">
        </div>
      </div>
      <div class="newFooterXu">
          ICP经营许可证：京B2-20170763 网络文化经营许可证：京网文󞪐] 6123-817 号
      </div>
    </div>
  <script>
    //   跳转到新闻列表
    function gotoNewsList(){
        location.href='newsList.html';
    }
    //跳转到图集列表
    function gotoPictureList(){
        location.href='pictureList.html';
    }
    //跳转到视频列表
    function gotoVideoList(){
        location.href='videoList.html';
    }
  </script>
</body>
</html>
