<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../css/public.css">
  <link rel="stylesheet" href="../css/conduct.css">
  <script src="../js/autoAdapt.js"></script>
  <title>视频专区</title>
</head>
<body>
  <div class="fourPage" id="macthRules">
    <!-- 头部导航条 -->
    <div class="fourPageHeader">
        <div class="fourHeader">
            <img class="fourHeaderImg" src="../images/fourLOGO.png" alt="">
            <div class="search">
              <img class="searchImg" src="../images/search.jpg" alt="">
              <input class="searchCon" type="text" placeholder="关键字查找">
            </div>
            <div class="fourHeaderCon">
              <p>
                  <span onclick="location.href='index.html'">首页</span>
              </p>
              <p>
                  <span>赛事章程</span>
              </p>
              <p>
                  <span>院校录取及奖学金</span>
              </p>
              <p>
                  <span>留学评估</span>
              </p>
            </div>
          </div>
    </div>
    <!-- 内容部分 -->
    <div class="pictureCon">
        <p class="pianoNewsT" style="text-align:left;"><span>视频专区</span> &nbsp;<span class="allTitleEn">Video</span></p>
        <div class="pictureConList">
            <div>
                <img class="pictureListBig" src="../images/1.png" alt="">
                <img class="videoPlay" src="../images/play.png" alt="">
                <span class="pictureNum">03:23</span>
                <p class="pictureListDe">你知道吗？像学说话一样,听音乐也有“黄金期”</p>
                <p class="pictureListB">
                    <img class="blueCicle" src="../images/bluecircle.png" alt="">
                    <span class="pictureListType">乐器</span>
                    <span class="pictureListTime">2017-09-01</span>
                </p>
            </div>
            <div>
                <img class="pictureListBig" src="../images/1.png" alt="">
                <img class="videoPlay" src="../images/play.png" alt="">
                <span class="pictureNum">03:23</span>
                <p class="pictureListDe">你知道吗？像学说话一样,听音乐也有“黄金期”</p>
                <p class="pictureListB">
                    <img class="blueCicle" src="../images/bluecircle.png" alt="">
                    <span class="pictureListType">乐器</span>
                    <span class="pictureListTime">2017-09-01</span>
                </p>
            </div>
            <div>
                <img class="pictureListBig" src="../images/1.png" alt="">
                <img class="videoPlay" src="../images/play.png" alt="">
                <span class="pictureNum">03:23</span>
                <p class="pictureListDe">你知道吗？像学说话一样,听音乐也有“黄金期”</p>
                <p class="pictureListB">
                    <img class="blueCicle" src="../images/bluecircle.png" alt="">
                    <span class="pictureListType">乐器</span>
                    <span class="pictureListTime">2017-09-01</span>
                </p>
            </div>
            <div>
                <img class="pictureListBig" src="../images/1.png" alt="">
                <img class="videoPlay" src="../images/play.png" alt="">
                <span class="pictureNum">03:23</span>
                <p class="pictureListDe">你知道吗？像学说话一样,听音乐也有“黄金期”</p>
                <p class="pictureListB">
                    <img class="blueCicle" src="../images/bluecircle.png" alt="">
                    <span class="pictureListType">乐器</span>
                    <span class="pictureListTime">2017-09-01</span>
                </p>
            </div>
            <div>
                <img class="pictureListBig" src="../images/1.png" alt="">
                <img class="videoPlay" src="../images/play.png" alt="">
                <span class="pictureNum">03:23</span>
                <p class="pictureListDe">你知道吗？像学说话一样,听音乐也有“黄金期”</p>
                <p class="pictureListB">
                    <img class="blueCicle" src="../images/bluecircle.png" alt="">
                    <span class="pictureListType">乐器</span>
                    <span class="pictureListTime">2017-09-01</span>
                </p>
            </div>
            <div>
                <img class="pictureListBig" src="../images/1.png" alt="">
                <img class="videoPlay" src="../images/play.png" alt="">
                <span class="pictureNum">03:23</span>
                <p class="pictureListDe">你知道吗？像学说话一样,听音乐也有“黄金期”</p>
                <p class="pictureListB">
                    <img class="blueCicle" src="../images/bluecircle.png" alt="">
                    <span class="pictureListType">乐器</span>
                    <span class="pictureListTime">2017-09-01</span>
                </p>
            </div>
        </div>
    </div>
    <!-- 底部导航条 -->
    <div class="fourFooter">
        <div class="fourFooterCon">
          <div class="footerLeft">
            <p class="footerTab">
              <span onclick="location.href='aboutYin.html'">关于音乐无界</span>
              <span onclick="location.href='contactUs.html'">联系我们</span>
              <!-- <span onclick="location.href='officialNum.html'">官方号</span> -->
            </p>
            <!-- <p class="footerWen"></p> -->
            <p class="footerWen">
              <span>利博莫国际教育咨询（北京）有限公司</span>
              <span class="footerWSpan">ICP经营许可证：京B2-20170763</span>
              <span>网络文化经营许可证: &nbsp;京网文[2016] 6123-817号</span>
            </p>
          </div>
          <div class="footerRight">
            <img src="../images/wx2.png" alt="">
            <p>微信公众号</p>
          </div>
          <div class="footerRight">
            <img style="margin: 0 0 0 10px;" src="../images/wx2.png" alt="">
            <p>iOS & android</p>
          </div>
        </div>
      </div>
  </div>
  <script>
    
  </script>
</body>
</html>
